@using JudoApp.Web.ViewModels.Club
@model DeleteClubViewModel

<h2>Delete Club</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p>Are you sure you want to delete the Club: <strong>@Model.Name - @Model.Address</strong>?</p>

<form asp-action="SoftDeleteConfirmed" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Manage" class="btn btn-secondary">Cancel</a>
</form>