@using JudoApp.Web.ViewModels.Product
@model IEnumerable<ProductIndexViewModel>

@{
    ViewData["Title"] = "All Products";
}

<h2>Products</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@product.ImageUrl" class="card-img-top" alt="Product Image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price</p>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">View Produt Details</a>
                </div>
            </div>
        </div>
    }
</div>