@using JudoApp.Web.ViewModels.Article
@model IEnumerable<ArticleIndexViewModel>

@{
    ViewData["Title"] = "All Articles";
}

<h2>Articles</h2>

<div class="row">
    @foreach (var article in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@article.ImageUrl" class="card-img-top" alt="Article Image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@article.Tittle</h5>
                    <p class="card-text">@article.Description</p>
                    <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">View Article Details</a>
                </div>
            </div>
        </div>
    }
</div>