@using JudoApp.Web.ViewModels.Article
@model IEnumerable<ArticleIndexViewModel>

@{
    ViewData["Title"] = "All Articles";
}

<h2>Articles</h2>

<div class="flex-shrink-0 p-3 bg-white" style="width: 280px; position: fixed; top: 100px; left: 0; bottom: 4em; z-index: 1050;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Manage Clubs
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Club" asp-action="Manage">Manage Clubs</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Manage Judges
            </button>
            <div class="collapse" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Judge" asp-action="Manage">Manage Judges</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Judge" asp-action="Create">Create Judge</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Manage Articles
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="Manage">Manage Articles</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Article" asp-action="Create">Create Articles</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="row">
    @foreach (var article in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="@article.ImageUrl" class="card-img-top" alt="Article Image" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@article.Tittle</h5>
                    <p class="card-text">@article.Description</p>
                    <a asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">View Article Details</a>
                </div>
            </div>
        </div>
    }
</div>