@using JudoApp.Web.ViewModels.Article
@model IEnumerable<ArticleIndexViewModel>

<h2 class="my-4 text-center">Manage Articles</h2>

<partial name="_AdminPanelPartial" />

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Tittle</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Tittle</td>
                <td>@article.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@article.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>